
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
  <!--sets style-->
    <title>Home Page</title>
    <style type="text/css" media="screen">
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
</head>
<!--presents a table of anomalies which it gets from expServer-->
<body>
<h2><center> Anomalies:</center><h2/>
  <h3>
  <table>
  <tr>
    <th>Features</th>
    <th>Time Step</th>
  </tr>
  <% data.forEach(function(o) { %>
  <tr>
      <td><%= o.columns %></td>
      <td><%= o.timeStep %></td>
  </tr>
  <% }); %>
  </table>
  <h3/>



</body>

</html>
